<div class="card-content" [@esSeleccionado]="destino.isSelected() ? 'estadoSeleccionado' : 'estadoNoSeleccionado'">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span>
            <h4>{{posicion}}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h5>{{destino.nombre}}</h5>
        <p>Servicios</p>
        <ul>
            <li *ngFor="let s of destino.servicios">
                <span [ngSwitch]="s">
                    <i *ngSwitchCase=" 'Desayuno' " style="color: blue;">{{s}}</i>
                    <i *ngSwitchDefault>{{s}}</i>
                </span>
            </li>
        </ul>
        <a href="#" class="btn-card" (click)="ir()" appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">Ir</a>
        <span *ngIf="destino.isSelected()">
            <span ngNonBindable> (Seleccionado) </span>
        </span>
        <br>
        <a [routerLink]="['/destino', destino.id]">Ver Detalles</a>
        <div>
            <a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item">
                <i class="material-icons md-18">thumb_up</i>
            </a>
            &nbsp;
            <a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item">
                <i class="material-icons md-18">thumb_down</i>
            </a>
            &nbsp;
            {{destino.votes}}
        </div>
    </div>
</div>