<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Destinos Para Visitar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
      <a class="nav-item" [routerLink]="['/home']">Home</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a class="nav-item" [routerLink]="['/login']">Login</a>
    </div>
  </div>
  <div style="float: right;">
    <select (change)="translate.use($event.target.value)">
      <option value="es">Español</option>
      <option value="fr">France</option>
      <option value="en">English</option>
    </select>
  </div>
</nav>


<div class="container content">
  <div class="row">
    <h1>
      {{ title }}
    </h1>
  </div>
  <router-outlet></router-outlet>
</div>
Fecha: {{ time | async }}
<div class="element">
  <h2>
    <b [innerHTML]="'Hola' | translate"></b>
  </h2>
</div>